- content_for :pagetitle do 
  Prices
/ Content
.content
  / Page Header
  .page-header
    .container
      .sixteen.columns
        %h1.page-title
          Pricing Table
          %span our awesome pricing plans
        %ul.breadcrumb
          %li
            =link_to t(:home), root_path
            %span.divider »
          %li.active Pricing Table
  / Start Content
  .container.main
    .sixteen.columns
      .row
        All Plans come with 30 days free trial
      .row
        - plans.in_groups_of(3, false) do |plans|
          .pricing-tables{ :class => "#{(plans.count + 1 ).to_words}" + '-tables' }
            - plans.each do |p|
              .pricing-table{:class => "#{('featured' if p.featured )}"}
                - if p.featured
                  .ribbon
                    .ribbon-label Featured
                .table-header
                  %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "_top"}
                    %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}/
                    %input{:name => "hosted_button_id", :type => "hidden", :value => "#{p.paypal_id}"}/
                    %img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1"}/
                    = submit_tag p.name.titleize, :class => 'btn btn-large'
                .table-price
                  .price
                    %span>
                    = number_to_currency(p.monthy_price)
                  .price-description
                    per month
                  .table-features
                    %ul
                      %li
                        %strong number of trucks
                        = p.licenses
                  .table-footer
                    %form{:action => "https://www.paypal.com/cgi-bin/webscr", :method => "post", :target => "_top"}
                      %input{:name => "cmd", :type => "hidden", :value => "_s-xclick"}/
                      %input{:name => "hosted_button_id", :type => "hidden", :value => "#{p.paypal_id}"}/
                      %img{:alt => "", :border => "0", :height => "1", :src => "https://www.paypalobjects.com/en_US/i/scr/pixel.gif", :width => "1"}/
                      = submit_tag t(:sign_up), :class => 'btn btn-large'
                      =# link_to new_user_registration_path, new_user_registration_path
            .pricing-table
              .table-header
                = submit_tag t(:custom), :class => 'btn btn-large'
              .table-price
                .price
                  %span
                  You Tell Us
                .price-description
                  per month
              .table-features
                %ul
                  %li
                    %strong Number of Users
                    Custom
                    %br
              .table-footer
                = link_to t(:contact_us), contact_us_path, :class => 'btn'

