%html
  %head
    %meta{:charset => "utf-8"}/
    %title
      = invoice.account.name.titleize
      Invoice#
      = invoice.invoice_number
    = stylesheet_link_tag 'invoice', :media => "all"
  %body
    %header
      %h1
        = invoice.account.name.titleize
        Invoice
      %address
        %p = invoice.account.name.titleize
        %p
          = invoice.account.address
          - if invoice.account.address2
            %br
            = invoice.account.address2
          %br
          = invoice.account.city
          = invoice.account.state
          = invoice.account.zip
        %p 
          = number_to_phone(invoice.account.phone)
      %span
        = invoice.account.name.titleize
    %article
      %h1 Recipient
      %address
        %p
          Ch Robinson
          %br/
          Chrw  Quick Pay Billing Po Box 3474 Chicago, Il 60654 Attn: Accounts Payable
          %br/
          %br/
      %table.meta
        %tr
          %th
            %span Invoice #
          %td
            %span 1254
        %tr
          %th
            %span Date
          %td
            %span 07/22/13
        %tr
          %th
            %span Amount Due
          %td
            %span $1,900.00
      %table.inventory
        %thead
          %tr
            %th
              %span Item
            %th
              %span Description
            %th
              %span Quantity
            %th
              %span Price
        %tbody
          %tr
            %td
              %span Line Haul
            %td
              %span
            %td
              %span
            %td
              %span $1,900.00
      %table.balance
        %tr
          %th
            %span Total
          %td
            %span $1,900.00
        %tr
          %th
            %span Balance Due
          %td
            %span $1,900.00
