#mws-login-wrapper
  #mws-login
    %h1 Change password
    .mws-login-lock
      = image_tag 'myicons/lock-icon.png'
    #mws-login-form
      = simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f|
        -content_for :error_notification do
          = f.error_notification
        = f.input :reset_password_token, :as => :hidden
        = f.full_error :reset_password_token
        .form-inputs
          = f.input :password, input_html: { class: 'mws-login-password required login_field'}, :placeholder => "Password", :label => false
          = f.input :password_confirmation, input_html: { class: 'mws-login-password required login_field'}, :placeholder => "Password", :label => false
        .form-actions
          = f.button :submit, "Change my password", :class => 'btn btn-success btn-block btn-large'
      =# render "devise/shared/links"

